:root {
  --color-f5f5f5: #f5f5f5;
  --color-000000: #000000;
  --color-ffffff: #ffffff;
  --color-CFCFCF: #cfcfcf;
  --transition-03: 0.2s;
}

$main-bg: rgba(33, 28, 36, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(144, 144, 144, 1);
$card-grey: rgba(237, 237, 237, 1);
$card-dark-grey: rgba(53, 53, 53, 1);
